.App {
  text-align: center;
}

.App-logo {
  max-width: 100px;
}

.App-header {
  background-color: var(--Regular-Navy);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
